<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>写完了吗</title>
    <link rel="stylesheet" href="/static/list.css">
    <link rel="shortcut icon" href="/static/favicon.ico" />
</head>

<body>
    <div class="lowin">
        <div class="lowin-brand">
            {% if stuqq %}
            <img src="http://q1.qlogo.cn/g?b=qq&nk={{stuqq}}&s=640" alt="logo">
            {% else %}
            <img src="/static/kodinger.jpg" alt="logo">
            {% endif %}
        </div>
        <div class="lowin-wrapper">
            <div class="lowin-box lowin-login">
                <div class="lowin-box-inner">
                    <h1 id="hello">你好，{{stuname}}</h1>
                    <p>当前时间：{{showtime}}</p>
                    <p>请选择要提交的作业</p>
                    {% for course in courses %}
                    {% if course["status"] == 31 %}
                    <a class="course" href="/upload/{{course['name']}}"><img src="/static/green.png" height=10 weight=10> {{course['name']}}</a>                    
                    <p class="course1">截止时间：{{course['showtime']}}</p>
                    <br>
                    {% elif course["status"] == 30 %}
                    <a class="course" href="/upload/{{course['name']}}"><img src="/static/green.gif" height=10 weight=10> {{course['name']}}</a>                    
                    <p class="course1">截止时间：{{course['showtime']}}</p>
                    <br>
                    {% elif course["status"] == 21%}
                    <a class="course" href="/upload/{{course['name']}}"><img src="/static/yellow.png" height=10 weight=10> {{course['name']}}</a>                    
                    <p class="course1">截止时间：{{course['showtime']}}</p>
                    <br>
                    {% elif course["status"] == 20%}
                    <a class="course" href="/upload/{{course['name']}}"><img src="/static/yellow.gif" height=10 weight=10> {{course['name']}}</a>                    
                    <p class="course1">截止时间：{{course['showtime']}}</p>
                    <br>
                    {% else %}
                    <a class="course" href="/upload/{{course['name']}}"><img src="/static/red.png" height=10 weight=10> {{course['name']}}</a>   
                    <p class="course1">截止时间：{{course['showtime']}}</p>
                    <br>
                    {% endif %}
                    {% endfor %}
                    <hr>
                    <p>其他方式提交的作业，点击可查看详情</p>
                    {% for ddl in ddls %}
                    {% if ddl["status"] == 30 %}
                    <a class="course" href="{{ddl['note']}}"><img src="/static/green.png" height=10 weight=10> {{ddl['name']}}</a>                    
                    <p class="course1">截止时间：{{ddl['showtime']}}</p>
                    <br>
                    {% elif ddl["status"] == 20%}
                    <a class="course" href="{{ddl['note']}}"><img src="/static/yellow.png" height=10 weight=10> {{ddl['name']}}</a>                    
                    <p class="course1">截止时间：{{ddl['showtime']}}</p>
                    <br>
                    {% else %}
                    <a class="course" href="{{ddl['note']}}"><img src="/static/red.png" height=10 weight=10> {{ddl['name']}}</a>
                    <p class="course1">截止时间：{{ddl['showtime']}}</p>
                    <br>
                    {% endif %}
                    {% endfor %}

                    <br>
                    <hr>
                    <div class="text-foot">
                         <a href="/logout" class="register-link">注销</a>
                    </div>
                    <div class="text-foot">
                        觉得当前密码不安全? <a href="/reset" class="register-link">重置密码</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>